<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zenflow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZenFlow"
        tools:targetApi="31">
        <activity
            android:name=".guide_main"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic_prepare"
            android:exported="false" />
        <activity
            android:name=".prepare_meditation"
            android:exported="false" />
        <activity
            android:name=".book_main"
            android:exported="false" />
        <activity
            android:name=".meditation_main_menu"
            android:exported="false" />
        <activity
            android:name=".setting_general_setting"
            android:exported="false" />
        <activity
            android:name=".setting_frequent_questions"
            android:exported="false" />
        <activity
            android:name=".setting_feedback"
            android:exported="false" />
        <activity
            android:name=".setting_exit"
            android:exported="false" />
        <activity
            android:name=".setting_about_us"
            android:exported="false" />
        <activity
            android:name=".setting_main_window"
            android:exported="false" />
        <activity
            android:name=".welcome_screen_end"
            android:exported="false" />
        <activity
            android:name=".welcome_screen_test2"
            android:exported="false" />
        <activity
            android:name=".welcome_screen_test1"
            android:exported="false" />
        <activity
            android:name=".welcome_screen_start"
            android:exported="false" />
        <activity
            android:name=".welcome_screen_with_button1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".main_menu"
            android:exported="false"></activity>
        <activity
            android:name=".registration"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.ZenFlow"></activity>
        <activity
            android:name=".screensaver"
            android:exported="false"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>